.header-wrapper {
    width: 100%;
    text-align: center;
    height: 180px;
}
.brand-logo-header {
    width: 40%;
}

@media screen and (max-width: 425px) {
    .header-wrapper {
        height: 50px;
    }
}
