.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 12px; */
    background-color: red;
    /* margin: 8px; */
    color: white;
    height: 60px;
}

.footer-section {
    display: flex;
    justify-content: center;
    width: 30%;
}
.footer-link {
    margin: 5px;
    padding: 0;
}
.fa-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 20px;
}
.fa-facebook-f {
    color: white;
    padding: 3px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media screen and (max-width: 425px) {
    .footer-wrapper {
        font-size: 6px;
        margin: 2px;
        height: 40px;
    }
    .footer-link {
        margin: 2px;
    }
    .fa-phone {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 5px;
    }
    .fa-facebook-f {
        padding: 0px;
        font-size: 5px;
    }
    .footer-link-facebook {
    }
}
